body
{
	background:url("../img/l.jpg")no-repeat;
	webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100%;
}

.tela
{
	background-color: #EBEBEB;
	color: red;
	width: 400px;
	height: 350px;
	margin: 150px 0 0 480px;
	padding-top: 50px;
	text-align: center;
	border-radius: 20px;
	
}

.tela input
{
	display: block;;
	margin: 5px 10px 10px 15px;
	width: 85%;
	padding: 5px;
	border-radius: 20px;
	color:blue;

}

.tela label
{
	display: block;
	padding:10px 10px 5px 15px;
	font-size: 30px;
	color: black;

}

.tela button
{
	display: block;
	margin:20px 0 0 150px;
	font-size: 20px;
	
}	

.tela img
{
	display: block;
	margin-top: 15px;
	margin-left: 100px;
	border:4px solid #F6F4ED;
}